/* ==========================================================================
   General Body Styles
   ========================================================================== */
html {
	min-height: 100%;
}

body {
	box-sizing: border-box;
	padding-bottom: 37px;
	padding-top: 60px;
}

@media (max-width: 979px)
{
	body {
		padding-top: 0;
	}
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	box-sizing: border-box;
	padding: 8px 20px;
	border-top: 1px solid #efefef;
}

/* ==========================================================================
   Person List
   ========================================================================== */

.items, .people {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #eee;
    border: 1px solid #CCC;
    border-radius: 10px;
}
.items > li, .people > li {
	padding: 10px;
	border-bottom: 1px solid #CCC;
	position: relative;
}

.people > li {
	height: 44px;
}

.items > li:last-child, .people > li:last-child {
	border-bottom: none;
}

.people .add-text {
	font-size: 1.2em;
	line-height: 44px;
}

.people .name {
	font-size: 1.25em;
}

.people .total {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -5px;
}

.people .desc {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.people .subtotal {
	font-size: .7em;
	line-height: 1.2em;
}

.people  .subtotal_desc {
	font-size: .6em;
	line-height: 1.2em;
}

.people .subtotal > td, 
.people .subtotal_desc > td {
	padding: 0 2px;
}

/* ==========================================================================
   Intro page
   ========================================================================== */

.intro {
	padding: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: #eee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* ==========================================================================
   Edit Person
   ========================================================================== */

.editPerson .name {
	margin: 10px 0;
}

.editPerson .nameInput {
	box-sizing: border-box;
	padding: 20px 10px;
	width: 100%;
	margin: 0;
}

.items > li {
	padding-bottom: 1px;
}

.editPerson .amtInput {
	box-sizing: border-box;
	padding: 14px 10px;
	width: 100%;
	background: transparent;
	border: none;
	box-shadow: none;
}







